 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --testing-bgcolor: black;
  --testing-color: white;
  --testing-bbgcolor: white;
  --testing-bcolor: white;
}


body {
  margin: 0;
  min-width: 320px;
  height:auto;
  overflow-x: hidden;
  color:white;
}

.dark{
  background-color: rgba(0, 0, 0, 0.596);
  color: white
}

.dark header{
  background-color:black;
  color: white
}
.dark .dropdown , .dark .themeselect{
  background-color: #000000;
  color: white;
}
.dark .stack-text{
  background:linear-gradient(
    to right, white 0%, black 50%,
    white 100%
  );
  color:white;
  font-size: 25px;
  text-align: center;
 }

.dark .dropdown > div:hover{
  background-color:#f9f9f9;
  color: black; 
 }
.blue, .blue .dropdown, .blue .themeselect{
  background-color:  whitesmoke;
  color: blue
}

.blue header{
  background-color: #535bf2;
  color: white
}

.blue .stack-text{
  background:linear-gradient(
    to right, white 0%, blue 50%,
    white 100%
  );
  color:white;
  font-size: 25px;
  text-align: center;
 }
.blue .dropdown > div:hover{
  background-color:#535bf2;
  color: white;
  width: 80%
 }


.brown, .brown .dropdown, .brown .themeselect{
  background-color:  whitesmoke;
  color: brown
}

.brown header{
  background-color: brown;
  color: white
}

.brown .stack-text{
  background:linear-gradient(
    to right, white 0%, brown 50%,
    white 100%
  );
  color:white;
  font-size: 25px;
  text-align: center;
 }
.brown .dropdown > div:hover{
  background-color:brown;
  color: white
 }
*{
  box-sizing: border-box;
}
#bootstrap{
/*animation: move 10s linear infinite;*/
left:-100px
}
@keyframes move{
  0%{
    transform:translateX(100vw);
  }
  
  100%{
    transform:translateX(-100vw)
  }

}
#header{
  top:0;
  position:sticky;
  z-index: 2;
}
header{
  background-color: #535bf2;
  height: 10vh;
  display: flex;
  justify-content:space-between;
  padding: 5px;
  align-items: center;
  align-content: center;
  align-self: center;
}
 header img {
  height: 65px;
  object-fit: contain;
 }
 .header-dropdown:hover{
   opacity: 0.5;
 }
 .logo{
   color:white;
   font-size: 25px;
   text-shadow: 2px 2px 4px #000000;
   font-family: "Playwrite MX", cursive;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   cursor: pointer;
 }
 .theme{
  height:30px;
 }
 .themeselect{
  height:auto;
  width: 150px;
  box-shadow: 1px 1px 1px 1px;
  margin-top: 20px;
  padding: 10px;
  position: absolute;
  top: 2em;
  right: 0;
  z-index: 100;
  animation: theme-animation 1s;
  display: none;
  opacity: 100;
  
 }
 input[type="radio"]{
  font-size: 20px;
 }
 .themeselect p{
  color:orange;
  text-align: center;
 }
.themeselect label{
  display: block;
  padding:10px 0px;
  font-size: 18px;
}
.themeselect :nth-of-type(1){
  color:green;
}
.themeselect :nth-of-type(2){
  color:blue;
  text-align: center;
}
.themeselect :nth-of-type(3){
  color:red;
  text-align:right;
}
.themeselect :nth-of-type(4){
  color:orange;
  text-align: center;
}

input[type="radio"]{
  color:red;
  font: 35px;
  border: 5px dotted black;
  color:#ffffff
  }
 .dropdown{
  height:100vh;
  width: 30%;
  padding: 10px;
  position: absolute;
  display:none;
  top: 0px;
  animation: dropdown-animation  1s ;
  z-index: 2;
  opacity: 1;
  box-shadow: 0px 0px 2px 1px ;
  }
 .dropdown > div{
  justify-content:baseline;
  padding:15px;
  display: flex;
 }
 .dropdown img{
  width: 2rem;
  height: 1rem;
  align-self:center;
  opacity: 0.5;
  margin-right: 2px;
 }
 .dropdown a{
  display: block;
  padding: 8px;
  font-size: 20px;
  color:inherit;
  align-self: center;
 }
 .close{
  color:red;
  font-size: 50px;
  position: absolute;
  top:-50;
  right:0px;
  padding: 15px;
  padding-top: 0px;
  margin-top: -25px;
  cursor: pointer;
  display: block;
 }
 .close:hover{
  opacity: 0.5;
 }
 .intro{
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 605;
  margin-top: 150px;
  margin-bottom:50px;
  font-style:italic
 }
 
#stack{
  position: relative;
}
 .arrowleft{
  position: absolute;
  left: 25px;
  top: 100px;
  align-self: center;
  z-index: 1;
  display: none;
 }

 .arrowright{
  position: absolute;
  right: 25px;
  top: 100px;
  align-self: center;
  z-index: 1;
  display:none
 }
 .stack-row{
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.stack-child{
  background-color:white;
  box-shadow: 0px 0px 10px 0px ;
  width:18rem;
  height: 12rem;
  padding: 5px;
  margin: 10px;
  display: inline-block;
}
.stack-child img{
  object-fit:contain;
  width: 100%;
  height: 100%;
  display: block;
}

.project-row{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}
.project-column{
  width: 75%;
  padding: 15px;
  margin: auto;
  height:auto;
  box-shadow: 0px 0px 10px 0px ;
  padding: 5px;
  margin-bottom: 19px;
}

.project-column a{
  text-decoration: none;
  display: block;
}
.project-card{
  background-color:white;
  height: auto;
  padding: 5px;
  margin-bottom: 0px;
  width: 100%;
}
.project-card img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.project-footer{
  background-color:beige;
  height: auto;
  padding: 5px;
  width: 100%;
  text-align: center;
}
.project-footer span{
  color:#646cff;
  transform: scale(1.5);
  background-color: white;
}
.project-footer span::after{
  content: ">>>";
}
.project-footer span::before{
  content: "<<<";
}
a{
  text-decoration: none;
}
a:hover{
  opacity: 0.8;
}
a:visited{
  color:none;
}
h1 {
  display: inline-block;
  align-self: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.fixcontact{
  position: fixed;
  right: 15px;
  bottom:10%;
  z-index: 100;
}

.stack-round{
  box-shadow: 0px 0px 10px 0px ;
  width:15rem;
  height: 15rem;
  padding: 5px;
  margin: 10px;
  display: inline-flex;
  border-radius: 50%;
}
.stack-round div{
  width: 75%;
  height: 75%;
  margin: auto;
  white-space: normal;
  overflow-wrap: normal;
  padding:5px;
  text-align: center;
}


.coming-soon-text p{
  display: inline-block;
  font-size: 20px;
  box-shadow: 1px 1px 1px 1px;
  padding: 4.3px
}

.coming-soon{
  display: flex;
  justify-content: space-around;
  margin: 5px;
  height: auto;
  margin-bottom: 25px;
 }
.coming-soon img{
  object-fit:fill;
  width: 100%;
  height: 100%;
}
.coming-soon .one,.coming-soon .two{
  width: 49%;
  height: auto;
  max-height: 40rem;
}
.coming-soon .one{
  box-shadow: 0px 0px 10px 0px ;
  position: relative;
}
 .coming-soon .two{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  }
.coming-soon .two > div{
  flex: 1;
  margin: 1px;
  box-shadow: 0px 0px 10px 0px ;
  max-height: 20rem;
}

footer{
  background-color: bisque;
  color: #888;
  height:auto;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  }
footer > div:hover{
background-color: white;
cursor: pointer;
}

@keyframes mymove {
  0% {left: 100%;}
  50% {left: calc(100% +50px)}
  100% { left: -50px}
}


@keyframes dropdown-animation{
  0%{
    left:-50%
  }
  100%{
    left: 0%
  }
  
 }

 @keyframes theme-animation{
  0%{
    transform: scale(0)
  }
  100%{
    transform: scale(1);
  }
  
 }

 @keyframes textmove {
  0%{
    left:105%
  }
  100%{
    left: -10%
  }
}

.one, .two > div {
  position: relative;
}

.one div, .app{
  position: absolute;
  z-index: 1;
  color: red;
  bottom: 50%;
  left: 22px;
  font-size: 13px;
  color:white;
  background-color: #000000;
  padding: 6px;
}

.follow{
display :flex;
justify-content: space-around;
margin-bottom: 20px;
}

.follow > div{
  display: flex;
  font-size: 20px;
  box-shadow: 0px 0px 1px 0px;
  padding: 4.3px;
  cursor: pointer;
  text-shadow: 1px 1px 1px purple;
  justify-content: space-around;
}
.follow img{
  height:2rem ;
}
.rightbar{
  grid-template-columns: 1fr;
  width: 30%;
  margin-left:auto;
  display: none;
}

@media only screen and (min-width:1000px) {
  header img {
    visibility: hidden;
   }
  .dropdown{
    display:block;
    width: 18%;
    text-align: center;
    margin-top: 5.5%;
    box-shadow: 0px 0px 1px 0px ;
  }
  .close{
     display: none;
  }
  
  .largescreen{
    display: flex;
  }
 .project-row{
    display: block;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    width: 66%;
    height: auto;
    margin-left:3px;
  }
  .project-column{
    width: 100%;
    padding: 15px;
    margin: auto;
    height:50vh;
    box-shadow: 0px 0px 2px 1px ;
    padding: 5px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .project-column a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .project-card{
    height: 80%;
    overflow: hidden;
  }
  .project-card img{
    height: 100%;
    overflow: hidden;
  }
  .project-footer{
    height: 19%;
  }

  .rightbar{
    grid-template-columns: 1fr;
    width: 30%;
    margin-left:auto;
    display: block;
  }

  .rightbar > div{
    width: 90%;
    box-shadow: 0px 0px 10px 0px ;
    margin-bottom: 30px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .socials{
    display: flex;
    justify-content: space-around;
    padding:1fr
  }
  .follow{
    display: none;
  }
  .followme{
    display:none
  }
  main{
    margin-left: 19%;
  }

}